body {
    margin: 0;
    background-color: #1a1e2e;
    background-image: url("lightningbolt.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1000px;
    background-attachment:fixed;
}

.navbar {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.3);
    
    background-color: #171b2b;
}

.nav-buttons {
    align-items: center;
    display: flex;
    padding: 10px 40px;
}

.nav-buttons > li > a:hover {
    border-bottom: 2px solid white;
}

.nav-buttons > h3 {
    margin-right: 30px;

}

.nav-buttons > li {
    margin-right: 30px;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.nav-buttons > li > a {
    text-decoration: none;
    color: whitesmoke;
}

.img {
    padding: 10px 40px;
    color: white;
    font-size: x-large;
}

.main-container {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    margin: 20px 20px;
    width: 450px;
    height: 475px;
    background-color: #171b2b;
    color: whitesmoke;
    border-radius: 45px;
    justify-content: left;
    align-items: left;
    text-align: left;
    display: inline-block;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.6);
}

#container2 {
    margin-left: 5rem;
    height: auto;
}

.container > h1 {
    margin-left: 25px;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
}

.container > p {
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.body-img {
    margin-top: 6rem;
    margin-left: 6rem;
    width: 475px;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.6);
}

.hero {
    display: flex;
    margin-top: 35px;
    justify-content: center;
}

.lightbulb {
    width: 75px;
}

.hero-text {
    text-align: center;
    color: whitesmoke;
}

.bottom-img {
    margin: 3%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.body-img2 {
    margin-left: 9rem;
    width: 800px;
    height: 550px;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.6);
}

.bottom-img > section {
    margin-right: 15%;
}

footer {
    align-self: flex-end;
    background-color: #171b2b;
    color: orange;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 1247px) {
    .bottom-img {
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background-image: none;
    }

    .main-container {
        margin: 0;
        flex-direction: column;
        
    }

    .navbar {
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: space-evenly;
    }

    .container {
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 0;
    }

    .body-img {
        margin: 0;
        padding: 0;
    }

    .bottom-img > section {
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .bottom-img {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .body-img2 {
        width: 550px;
        order: 2;
        margin: 0;

    }
}

@media screen and (max-width: 400px) {
    .lightbulb {
        margin-left: 5rem;
        margin-top: 15px;
        width: 75px;
        height: 70px;
    }

    body {
        margin: 5rem;
    }

    .nav-buttons > li {
        font-size: 20px;
        margin: 5px;
    }

    .img {
        margin-left: 5rem;
    }

    .container {
        margin-left: 4rem;
    }

    .bottom-img {
        margin-left: 4rem;
    }

    .body-img2 {
        width: 400px;
        margin-bottom: 4rem;
    }
}



